In [24]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
import language_check
from textblob import TextBlob

In [3]:
data = pd.read_csv('./datas/training_set_rel3.tsv',sep='\t', encoding = "ISO-8859-1")

In [5]:
data.head(2)

,essay_id,essay_set,essay,rater1_domain1,rater2_domain1,rater3_domain1,domain1_score,rater1_domain2,rater2_domain2,domain2_score,...,rater2_trait3,rater2_trait4,rater2_trait5,rater2_trait6,rater3_trait1,rater3_trait2,rater3_trait3,rater3_trait4,rater3_trait5,rater3_trait6
0,1,1,"Dear local newspaper, I think effects computer...",4,4,NaN,8,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,"Dear @CAPS1 @CAPS2, I believe that using compu...",5,4,NaN,9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
col_to_keep =['essay','domain1_score']

In [9]:
filter_data = data[col_to_keep]

In [14]:
print(len(filter_data))
filter_data[:5]

12976

                                               essay  domain1_score
0  Dear local newspaper, I think effects computer...              8
1  Dear @CAPS1 @CAPS2, I believe that using compu...              9
2  Dear, @CAPS1 @CAPS2 @CAPS3 More and more peopl...              7
3  Dear Local Newspaper, @CAPS1 I have found that...             10
4  Dear @LOCATION1, I know having computers has a...              8

In [ ]:
def word_counting(x):
    return (len(TextBlob(x).words))
filter_data['word_length'] = filter_data['essay'].apply(word_counting)

In [ ]:
def sentence_counting(x):
    sentence_len = len([len(sentence.split(' ')) for sentence in TextBlob(x).sentences])
    return sentence_len
filter_data['no_of_sentence'] = filter_data['essay'].apply(sentence_counting)

In [ ]:
def avg_sentence_sentiment(x):
    sentiment_essay = TextBlob(x).sentiment.polarity
    return sentiment_essay
filter_data['sentiment_essay'] = filter_data['essay'].apply(avg_sentence_sentiment)

In [ ]:
def avg_length_of_words(x):
    word_len = [len(word) for word in TextBlob(x).words]
    return ( sum(word_len)/len(word_len) )
filter_data['avg_word_len']  = filter_data['essay'].apply(avg_length_of_words)

In [30]:
filter_data.head(3)

,essay,domain1_score,word_length,no_of_sentence,sentiment_essay,avg_word_len
0,"Dear local newspaper, I think effects computer...",8,343,16,0.310471,4.358601
1,"Dear @CAPS1 @CAPS2, I believe that using compu...",9,422,20,0.274000,4.331754
2,"Dear, @CAPS1 @CAPS2 @CAPS3 More and more peopl...",7,283,14,0.340393,4.356890

In [ ]:
def grammar_check(x):
    tool = language_check.LanguageTool('en-US')
    matches = tool.check(x)
    return len(matches)
filter_data['Grammar_check'] = filter_data['essay'].apply(grammar_check)

In [ ]:
def num_word_mis_spell(x):
    print('next')
    every = 0
    print(len(TextBlob(x).words))
    for wor in TextBlob(x).words:
#         w = Word(wor)
        print(wor)
        if wor.lower() not in word_list:
            every += 1
            print(every)
        print(every)
    return every    
filter_data['mis_spell_word'] = filter_data['essay'].apply(num_word_mis_spell)

In [39]:
filter_data.to_csv('filter_data.csv', sep='\t')

In [ ]:
filter_data['Grammar_check'] = filter_data['Grammar_check']/5

In [90]:
filter_data.head(5)

,essay,domain1_score,word_length,no_of_sentence,sentiment_essay,avg_word_len,Grammar_check
0,"Dear local newspaper, I think effects computer...",8,343,16,0.310471,4.358601,2.2
1,"Dear @CAPS1 @CAPS2, I believe that using compu...",9,422,20,0.274000,4.331754,3.8
2,"Dear, @CAPS1 @CAPS2 @CAPS3 More and more peopl...",7,283,14,0.340393,4.356890,1.8
3,"Dear Local Newspaper, @CAPS1 I have found that...",10,527,27,0.266828,4.851992,7.0
4,"Dear @LOCATION1, I know having computers has a...",8,470,30,0.199684,4.378723,3.4

In [3]:
filter_data = pd.read_csv('filter_data.csv', sep='\t')

In [10]:
filter_data.drop('Unnamed: 0',axis=1, inplace=True)
filter_data.head(3)

,essay,domain1_score,word_length,no_of_sentence,sentiment_essay,avg_word_len,Grammar_check
0,"Dear local newspaper, I think effects computer...",8,343,16,0.310471,4.358601,11
1,"Dear @CAPS1 @CAPS2, I believe that using compu...",9,422,20,0.274000,4.331754,19
2,"Dear, @CAPS1 @CAPS2 @CAPS3 More and more peopl...",7,283,14,0.340393,4.356890,9

In [11]:
# normalized_df=(df-df.mean())/df.std()
from sklearn import preprocessing

# data = {'score': [234,24,14,27,-74,46,73,-18,59,160]}
# df = pd.DataFrame(data)
# df

min_max_scaler = preprocessing.MinMaxScaler()
np_scaled = min_max_scaler.fit_transform(filter_data.drop('essay',axis=1))
df_normalized = pd.DataFrame(np_scaled, columns = ['score','word_length','no_of_sentence','sentiment_essay','avg_word_len','Grammar_check'])
df_normalized.head(5)

,score,word_length,no_of_sentence,sentiment_essay,avg_word_len,Grammar_check
0,0.133333,0.318990,0.157895,0.655235,0.484731,0.085938
1,0.150000,0.392891,0.200000,0.637000,0.475809,0.148438
2,0.116667,0.262862,0.136842,0.670196,0.484163,0.070312
3,0.166667,0.491113,0.273684,0.633414,0.648698,0.273438
4,0.133333,0.437792,0.305263,0.599842,0.491419,0.132812

In [12]:
x = df_normalized['score']

In [13]:
y = df_normalized.drop('score',axis=1)

In [15]:
y.head(3)

   word_length  no_of_sentence  sentiment_essay  avg_word_len  Grammar_check
0     0.318990        0.157895         0.655235      0.484731       0.085938
1     0.392891        0.200000         0.637000      0.475809       0.148438
2     0.262862        0.136842         0.670196      0.484163       0.070312

#### Logistic Regression

In [16]:
from sklearn.linear_model import LogisticRegression

In [17]:
from sklearn.model_selection import train_test_split

In [20]:
x_train, x_test, y_train, y_test = train_test_split(y, x, test_size=0.25, random_state=42)

In [22]:
import numpy as np
from sklearn import linear_model
from sklearn import svm

In [ ]:
# import numpy as np
# from sklearn import linear_model
# from sklearn import svm

classifiers = [
    svm.SVR(),
    linear_model.SGDRegressor(),
    linear_model.BayesianRidge(),
    linear_model.LassoLars(),
    linear_model.ARDRegression(),
    linear_model.PassiveAggressiveRegressor(),
    linear_model.TheilSenRegressor(),
    linear_model.LinearRegression()
]

# trainingData    = np.array([ [2.3, 4.3, 2.5],  [1.3, 5.2, 5.2],  [3.3, 2.9, 0.8],  [3.1, 4.3, 4.0]  ])
# trainingScores  = np.array( [3.4, 7.5, 4.5, 1.6] )
# predictionData  = np.array([ [2.5, 2.4, 2.7],  [2.7, 3.2, 1.2] ])

for item in classifiers:
    print(item)
    clf = item
    clf.fit(x_train, y_train)
#     print(clf.predict(predictionData),'\n')
    print(item,':    ',clf.score(x_test, y_test, sample_weight=None))

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='auto',
  kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)
SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='auto',
  kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False) :     0.5088554660112241
SGDRegressor(alpha=0.0001, average=False, epsilon=0.1, eta0=0.01,
       fit_intercept=True, l1_ratio=0.15, learning_rate='invscaling',
       loss='squared_loss', max_iter=None, n_iter=None, penalty='l2',
       power_t=0.25, random_state=None, shuffle=True, tol=None, verbose=0,
       warm_start=False)

C:\Users\Sushil\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.stochastic_gradient.SGDRegressor'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)

SGDRegressor(alpha=0.0001, average=False, epsilon=0.1, eta0=0.01,
       fit_intercept=True, l1_ratio=0.15, learning_rate='invscaling',
       loss='squared_loss', max_iter=None, n_iter=None, penalty='l2',
       power_t=0.25, random_state=None, shuffle=True, tol=None, verbose=0,
       warm_start=False) :     0.4184124752748861
BayesianRidge(alpha_1=1e-06, alpha_2=1e-06, compute_score=False, copy_X=True,
       fit_intercept=True, lambda_1=1e-06, lambda_2=1e-06, n_iter=300,
       normalize=False, tol=0.001, verbose=False)
BayesianRidge(alpha_1=1e-06, alpha_2=1e-06, compute_score=False, copy_X=True,
       fit_intercept=True, lambda_1=1e-06, lambda_2=1e-06, n_iter=300,
       normalize=False, tol=0.001, verbose=False) :     0.47782025610749496
LassoLars(alpha=1.0, copy_X=True, eps=2.220446049250313e-16,
     fit_intercept=True, fit_path=True, max_iter=500, normalize=True,
     positive=False, precompute='auto', verbose=False)
LassoLars(alpha=1.0, copy_X=True, eps=2.220446049250313e-16,
     fit_intercept=True, fit_path=True, max_iter=500, normalize=True,
     positive=False, precompute='auto', verbose=False) :     -0.00083156872616863
ARDRegression(alpha_1=1e-06, alpha_2=1e-06, compute_score=False, copy_X=True,
       fit_intercept=True, lambda_1=1e-06, lambda_2=1e-06, n_iter=300,
       normalize=False, threshold_lambda=10000.0, tol=0.001, verbose=False)

In [100]:
# from sklearn import model_selection
# from sklearn.linear_model import LinearRegression
# from sklearn.linear_model import Ridge
# from sklearn.linear_model import ElasticNet
# from sklearn.tree import DecisionTreeRegressor
from sklearn.base import TransformerMixin
# from sklearn.datasets import make_regression
from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.preprocessing import StandardScaler, PolynomialFeatures
from sklearn.linear_model import LinearRegression, Ridge

In [101]:
class RidgeTransformer(Ridge, TransformerMixin):

    def transform(self, X, *_):
        return self.predict(X)


class RandomForestTransformer(RandomForestRegressor, TransformerMixin):

    def transform(self, X, *_):
        return self.predict(X)


class KNeighborsTransformer(KNeighborsRegressor, TransformerMixin):

    def transform(self, X, *_):
        return self.predict(X)

In [102]:
def build_model():
    ridge_transformer = Pipeline(steps=[
        ('scaler', StandardScaler()),
        ('poly_feats', PolynomialFeatures()),
        ('ridge', RidgeTransformer())
    ])

    pred_union = FeatureUnion(
        transformer_list=[
            ('ridge', ridge_transformer),
            ('rand_forest', RandomForestTransformer()),
            ('knn', KNeighborsTransformer())
        ],
        n_jobs=2
    )

    model = Pipeline(steps=[
        ('pred_union', pred_union),
        ('lin_regr', LinearRegression())
    ])

    return model

In [ ]:
print('Build and fit a model..')

model = build_model()

# X, y = make_regression(n_features=10, n_targets=2/)
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.25)

model.fit(X_train, y_train)
score = model.score(X_test, y_test)

print('Done. Score:', score)

Build and fit a model..

In [ ]:
df_normalized.to_csv()